##### VLAN Configuration
ACCESS-SW1(config)# interface range f0/3-4
ACCESS-SW1(config-if)# switchport mode trunk
ACCESS-SW1(config-if)# switchport trunk allowed vlan 10,20,30,199

ACCESS-SW1(config)# interface range f0/10-11
ACCESS-SW1(config-if)# switchport mode access
ACCESS-SW1(config-if)# switchport access vlan 10

ACCESS-SW1(config)# interface range f0/20-21
ACCESS-SW1(config-if)# switchport mode access
ACCESS-SW1(config-if)# switchport access vlan 20

ACCESS-SW1(config)# interface range f0/23-24
ACCESS-SW1(config-if)# switchport mode access
ACCESS-SW1(config-if)# switchport access vlan 30

##### Management Interface & Gateway
ACCESS-SW1(config)# vlan 199
ACCESS-SW1(config-vlan)# name Management
ACCESS-SW1(config)# interface vlan 199
ACCESS-SW1(config-if)# ip address 192.168.199.4 255.255.255.0
ACCESS-SW1(config-if)# no shutdown
ACCESS-SW1(config)# ip default-gateway 192.168.199.1

##### SSH Configuration
ACCESS-SW1(config)# ip domain-name lab.local
ACCESS-SW1(config)# crypto key generate rsa 1024
ACCESS-SW1(config)# username admin privilege 15 secret cisco
ACCESS-SW1(config)# access-list 23 permit 192.168.199.0 0.0.0.255

ACCESS-SW1(config)# line vty 0 15
ACCESS-SW1(config-line)# login local
ACCESS-SW1(config-line)# transport input ssh
