### OSPF Routing Configuration
PRIMARY-ROUTER(config)# router ospf 1
PRIMARY-ROUTER(config-router)# router-id 1.1.1.1
PRIMARY-ROUTER(config-router)# network 1.1.1.1 0.0.0.0 area 0
PRIMARY-ROUTER(config-router)# network 10.10.1.0 0.0.0.3 area 0
PRIMARY-ROUTER(config-router)# network 10.10.2.0 0.0.0.3 area 0
PRIMARY-ROUTER(config-router)# default-information originate

### Static Routing and NAT
##### Default Route to ISP
PRIMARY-ROUTER(config)# ip route 0.0.0.0 0.0.0.0 200.1.1.1
BACKUP-ROUTER(config)# ip route 0.0.0.0 0.0.0.0 200.1.1.6

##### NAT Configuration
PRIMARY-ROUTER(config)# interface g0/1
PRIMARY-ROUTER(config-if)# ip nat inside

PRIMARY-ROUTER(config)# interface g0/0
PRIMARY-ROUTER(config-if)# ip nat outside

PRIMARY-ROUTER(config)# access-list 1 permit 192.168.0.0 0.0.255.255
PRIMARY-ROUTER(config)# ip nat inside source list 1 interface g0/0 overload

